body {
    background-color: #20314b !important;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

    .hero-feature .thumbnail {
        min-height: 300px;
    }

footer {
    margin: 50px 0;
}

header {
    text-align: center;
}

img.logo {
    margin-left: auto;
    margin-right: auto;
}